<!DOCTYPE html>
<html>

<head>
    <title>Admin Portal</title>
</head>

<body>
    <p id="number">{{ counter_value }}</p>
    <script>
        const socket = new WebSocket('{{ websocket_url }}/increment'); // Adjust the URL as needed

        socket.onopen = () => {
            console.log('WebSocket connection opened');
        };

        socket.onmessage = (event) => {
            console.log('WebSocket message received:', event);
            const data = JSON.parse(event.data);
            console.log('Received data:', data);
            document.getElementById('number').textContent = data.number;
        };
    </script>
</body>

</html>